* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    border-style: solid;
    padding: 3px;
    position: fixed;
    bottom: 10px;
    width: 80%;
}

form input {
    padding: 10px;
    width: 85%;
    margin-right: .5%;
}

form button {
    width: 10%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 5px;
    margin: 3px;
    float:right;
    display: block;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#mBox {
    float:right;
    width: 80%;
    margin: 30px;
}

#onlineList {
    float:left;
    margin: 20px;
    list-style: none;
}

h1, h3 {
    margin-bottom: 15px;
}